.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  .ui-tabs.ui-tabs-left > .ui-tabs-nav {
    width: 10%;
  }
  /** panels **/
  .ui-tabs.ui-tabs-left > .ui-tabs-panels {
    width: 90%;
  }
}
.appContent {
  height: calc(100vh - 130px);
  position: fixed;
  top: 64px;
  left: 0;
  color: black;
  width: 100vw;
}
