.root {
  display: flex;
  height: 100vh;
}
.pageMenu {
  width: 260px;
  background-color: #eee;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 15px 10px;
      cursor: pointer;
    }
  }
  .appTitle {
    padding: 5px 15px;

    display: flex;
    gap: 10px;
    cursor: default;
    align-items: center;

    h2 {
      flex: 1;
      font-size: 1.5rem;
    }
  }
}
.app {
  flex: 1;
  .desktopBackground {
    background-color: var(--primary-color);
    width: 100%;
    height: 30vh;
  }
  .appContent {
    position: absolute;
    top: 64px;
    width: 100%;
    height: 100%;
  }
}
